<div class="arithInput">
    <input type="text" name="x" id="x" placeholder="First Number (X)" 
    	ng-model="x">
    x 
    <input type="text" name="y" id="y" placeholder="Second Number (Y)" 	
    	ng-model="y">
    = 
    <input type="text" name="z" id="z" placeholder="Answer" disabled
    	value="{{multiply(x,y) || x || y }}"> 
</div> <!--end arithInput-->

<div class="arithButtonsDiv">
    <input type="button" value="Reset" class="arithButton"
    	ng-click="resetMainForm()">
</div><!--end arithButtonsDiv-->
