<input type="text" name="budgetTotal" id="budgetTotal" placeholder="Budget" 
	ng-model="budget" required>

Then enter your expenses (money spent), separated by a space: <br> 
     
<input type="text" name="expenses" id="expenses" placeholder="Expenses" required
	ng-model="expenses">

<div class="expenseButtonsDiv">
    <input type="button" value="Reset" class="expenseButtons" ng-click="resetBudget()"> 
</div> <!--End expenseButtons-->

<input type="text" name="leftOver" id="leftOver" placeholder="How Much is Left" disabled
	value="{{remainingBudget() || budget }}">
