<section class="content">
    <div class="colLeft">
	<h3> Addition </h3>
        <p class="instructions"> Addition is the combining of numbers. When you have one of something, and you add one more of it, you now have two. That's addition in a nutshell. </p>
    
        <form id="additionMain" novalidate>
            <addition-main-form></addition-main-form>
        </form> <!--end additionMain-->
      
        <p class="instructions"> Addition isn't limited to just two numbers. Try combining three or more numbers below. <br> Separate each number with a space. </p>
     
        <form id="additionMultiple">
            <addition-multiple-form></addition-multiple-form>
        </form><!--end additionMultiple-->
     
    </div><!--end colLeft-->

    <div class="colRight">
    	<quick-quiz><quick-quiz>
    </div> <!-- end colRight-->
</section> <!--end Content-->