<section class="content">
    <div class="colLeft">
        <article>
            <h3>Welcome to Nutshell Math </h3>
            <p> Nutshell Math is a web site powered by simple JavaScript that provides help with basic math problems. 
                These problems can include <a href="#">addition</a>, <a href="#">subtraction</a>, 
                <a href="#">multiplication</a>, and <a href="#">division</a>.</p>
            <p> While all attempts have been made to write accurate code, some errors might occur that prevent the correct 
                answer from being displayed. Basic Math is not responsible for any bad grades on homework due to these errors. 
                The best way to ensure good grades is to learn the material yourself. </p>
            
        </article>
    </div><!--End colLeft-->
  
    <div class="colRight">  
        <img src="images/calculator.png" alt="calculator" width="200" height="200" id="calcPNG">
    </div><!--End colRight-->
</section> <!--end Content-->