<section class="content">
    <div class="colLeft">
	<h3> Subtraction </h3>
        <p class="instructions"> Subtraction is taking something away from something else. When you have two of something, 
                                 and you take one away, you are left with one. <br>That's subtraction in a nutshell. </p>
    
        <form id="subtractionMain" novalidate>
            <subtraction-main-form></subtraction-main-form>
        </form> <!--end subtractionMain-->
      
        <p class="instructions"> Sometimes, in a budget for example, you start with one number and subtract multiple 
                                 numbers from it. <br> Enter your budget (money available to spend):
            <form id="budget" novalidate> 
                <subtraction-budget-form></subtraction-budget-form>
            </form>
        </p>
    </div><!--end colLeft-->

    <div class="colRight">
	<quick-quiz></quick-quiz>
    </div> <!-- end colRight-->
</section> <!--end Content-->